/.history
/.ideaz
/.idea
/.nyc_output
/.vscode/launch.json
/.vscode/config.js
/coverage
/node_modules
/dist
/serverDist
/bin
/result.json
/accounts
/docs/componentsDocs
/docs/typedocs
/deploy/build
.tapdinfo.json
.dwt_output
